DB_USER=<db_user>
DB_NAME=bearbnb_test
DB_PORT=5432
DB_HOST=localhost
DB_PASSWORD=
REPLICA_DB_PORT=5432
REPLICA_DB_HOST=localhost
DB_NO_SSL=1
APP_ENCRYPTION_KEY="gnkCOxrxPM7H+q4r196uzcqIfHRclbBpX0zFAyClwV4="
COLUMN_ENCRYPTION_KEY="bVI3qceJYK/aAMz2gDzrm+Y5B/HiX7c6rm6P4gjNLls="
WEB_SERVICE=1
WORKER_SERVICE=0
CORS_HOSTS='["http://localhost:3050", "http://localhost:3051", "http://localhost:3052"]'
CLIENT_HOST='http://localhost:3050'
ADMIN_HOST='http://localhost:3051'
INTERNAL_HOST='http://localhost:3052'
TZ=UTC

DREAM_PARALLEL_TESTS=4
