DB_USER=<db_user>
DB_NAME=bearbnb_development
DB_PORT=5432
DB_HOST=localhost
DB_PASSWORD=
REPLICA_DB_PORT=5432
REPLICA_DB_HOST=localhost
DB_NO_SSL=1
APP_ENCRYPTION_KEY="wBqcOaPyjn70DAbkBiqXxbIxVfM5woBpMwzR4SP7m/U="
COLUMN_ENCRYPTION_KEY="Kh8YikGH55xeN42Laubq4b1rRdNwJEo//Cm2ZCXpoEE="
WEB_SERVICE=1
WORKER_SERVICE=1
CORS_HOSTS='["http://localhost:3000", "http://localhost:3001", "http://localhost:3002"]'
CLIENT_HOST='http://localhost:3000'
ADMIN_HOST='http://localhost:3001'
INTERNAL_HOST='http://localhost:3002'
TZ=UTC
