DB_USER=<db-user>
DB_PASSWORD='<db-password>'
DB_NAME=bearbnb_test
DB_PORT=5432
DB_HOST='localhost'
REPLICA_DB_PORT=5432
REPLICA_DB_HOST='localhost'
DB_NO_SSL=1
APP_ENCRYPTION_KEY='<paste the results of runnning: pnpm psy g:encryption-key>'
COLUMN_ENCRYPTION_KEY='<paste the results of runnning: pnpm psy g:encryption-key>'
BETTER_AUTH_SECRET='<paste the results of running: openssl rand -base64 32>'
BETTER_AUTH_URL='http://localhost:7778'
WEB_SERVICE=1
WORKER_SERVICE=0
CORS_HOSTS='["http://localhost:3050", "http://localhost:3051", "http://localhost:3052"]'
CLIENT_APP_HOST='http://localhost:3050'
ADMIN_APP_HOST='http://localhost:3051'
INTERNAL_APP_HOST='http://localhost:3052'
TZ=UTC

DREAM_PARALLEL_TESTS=4
