.DS_Store
dist
node_modules
*.log
.env*
!.env*.example
src/.psy/*

# Firebase Auth emulator import/export data (created by `pnpm firebase:dev`)
.firebase-emulator-data
.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
